<div class="container-fluid">
  <h2 class="header">Quote</h2>
  <form (ngSubmit)='addQuote() ;quotesForm.resetForm({})' #quotesForm='ngForm'>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text"  class="form-control" id="name" [(ngModel)]="quoted.name" name="name" #name='ngModel' >
      </div>
      <div class="form-group">
        <label for="name">Quote Persona</label>
        <input type="text" required class="form-control" id="title" [(ngModel)]="quoted.title" name="title" #title='ngModel'>
      </div>
      <div class="form-group">
        <label for="description">Quote</label>
        <textarea class="form-control" id="quote" rows="2" required [(ngModel)]="quoted.quote" name="quote" #quote='ngModel'></textarea>
      </div>
      <div class="form-group">
        <label for="name">Quote Author</label>
        <input type="text" required class="form-control" id="author"[(ngModel)]="quoted.author" name="author" #author='ngModel'>
          </div>
      <button type="submit" class="btn btn-sm btn-success" style="background-color: darkorange;" >Quote</button>
  </form>
</div>
